<h1>The Thoughtful Eater</h1>

<h4>~ Meal Planning Made Easy ~</h4>
<br>
<br>
<a href="http://localhost:3000/meals/">Meals</a>
<br><br>
<a href="http://localhost:3000/meals/new">Create a New Meal</a>
<br><br>
<a href="http://localhost:3000/restrictions/">Dietary Restriction Info</a>
